<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ queueName }} | {{ hospitalName }}</title>
  <link rel="stylesheet" href="/css/main-queue-page.css">
</head>

<body>

 <!--<h1>{{ hospitalName }}</h1>
  <h2>{{ queueName }}</h2>-->
<!--  <ul>
    {{#each visits}}
    {{#with this}}
    <li> 
      <img src="/{{card.icon}}.svg" alt="{{card.icon}}" width="24"/>
      <strong>{{ card.number }}</strong>
      <span>{{ estimatedTime }}</span>
    </li>
    {{/with}}
    {{/each}}
  </ul>-->


<div class="main-content">

    <div class="cards-container">

    
        <!--<h1>{{ hospitalName }}</h1>-->
        <div class="name-header">
            <h2>{{ queueName }}</h2>
        </div>
        

        <section class="cards">

            <ol id="card-list">
                {{#each visits}}
                {{#with this}}
                <li> 
                <img src="/{{card.icon}}.svg" alt="{{card.icon}}" width="24"/>
                <strong>{{ card.number }}</strong>
                <span>{{ estimatedTime }}</span>
                </li>
                {{/with}}
                {{/each}}
<!--
                {{#each visits}}
                {{#with this}}
                <li> 
                <img src="/{{card.icon}}.svg" alt="{{card.icon}}" width="24"/>
                <strong>{{ card.number }}</strong>
                <span>{{ estimatedTime }}</span>
                </li>
                {{/with}}
                {{/each}}-->
            </ol>
        </section>
    </div>
    <section class="sidebar">
        <p>Osób w kolejce: </p>
        <p id="person-counter">1 osoba</p>
        <p>Średnia długośc wizyty: </p>
        <p>1 minuta</p>

        <!-- qr code -->

        <p>Zeskanuj kod QR lub odwiedź WIATSAFE.COM/ABCDEF
        <br>aby uzyskać podgląd kolejki w telefonie</p>

    </section>

    
</div>

<footer>
  <p>WYŚLIJ SMS Z NUMEREM KARTY WAIT SAFE NA NUMER 000 000 000, ŻEBY DOSTAĆ SMS GDY ZBLIŻY SIĘ CZAS TWOJEGO WEJŚCIA DO GABINETU</p>
</footer>

</body>


 <script src="/js/main-queue-page-script.js"></script> 




</html>
